/node_modules
/public/build
/public
/public/storage
/public/order
/public/guide
/public/support
/public/attendance
/public/accounts
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage
/bootstrap
!/public/
!/public/client/*
!/public/mAssets
